In [5]:
data = 'pakistan zindabad' 213#$@9djsad "hello world'

print (type(data))

SyntaxError: ignored

In [7]:
data = 'pakistan zindabad\' 213#$@9djsad "hello world'

print(data)
print (type(data))

pakistan zindabad' 213#$@9djsad "hello world
<class 'str'>

In [10]:
fgd = "line of control 1"\
"line of control 2"\
"line of control 3"

print(fgd)
print(type(fgd))

line of control 1line of control 2line of control 3
<class 'str'>

In [11]:
fgd = """
hello world
pakistan zindabad
karachi the city of lights
"""
fgd

'\nhello world \npakistan zindabad\nkarachi the city of lights\n'

In [12]:
fgd = """
hello world
pakistan zindabad
karachi the city of lights
"""

print(fgd)
print(type(fgd))

hello world
pakistan zindabad
karachi the city of lights

<class 'str'>

In [13]:
#concatination

"1" + 1

TypeError: ignored

In [14]:
"1" + "1"

'11'

In [15]:
1+1

2

In [19]:
a = input("enter no1")
b = input("enter no2")

print(type(a), type(b))
print(a + b)

enter no17
enter no28
<class 'str'> <class 'str'>
78

In [22]:
#type casting

a = "7"
print(a, type(a))
a = int(a)
print(a, type(a))

7 <class 'str'>
7 <class 'int'>

In [23]:
a = "7"
print(a, type(a))
a = float(a)
print(a, type(a))

7 <class 'str'>
7.0 <class 'float'>

In [ ]:
a = input("enter no1")
b = input("enter no2")

print(type(a), type(b))
print(a + b)

In [55]:
#card making
roll_no = 2000
name = "feroz gul"
fname = "khameeso khan"
contact_no = "03053075434"
card = "NED university \nstudent roll no:" + str(roll_no)+\
"\nstudent name: " + name + "\nfather's name:" +fname\
+"\ncontact no:" +contact_no


print(card)

NED university
student roll no:2000
student name: feroz gul
father's name:khameeso khan
contact no:03053075434

In [10]:
#card with """ open close \t for tabe

roll_no = 2000
name = "feroz gul"
fname = "khameeso khan"
contact_no = "03053075434"

card = """NED university
student roll no:\t{}
student name:\t\t{}
father's name:\t\t{}
contact no:\t\t{}""".format(roll_no,name,fname,contact_no)
print (card)

NED university
student roll no:	2000
student name:		feroz gul
father's name:		khameeso khan
contact no:		03053075434

In [11]:
#card with """ open close \t for tabe

roll_no = 2000
name = "feroz gul"
fname = "khameeso khan"
contact_no = "03053075434"

card = """NED university
student roll no:\t{}
student name:\t\t{}
father's name:\t\t{}
contact no:\t\t{}""".format(roll_no,name,fname,contact_no)
print (card)

# index number              0       1      2     3

NED university
student roll no:	2000
student name:		feroz gul
father's name:		khameeso khan
contact no:		03053075434

In [17]:
# veriable
# pythone with the rule of "f"

roll_no = 2000
name = "feroz gul"
fname = "khameeso khan"
contact_no = "03053075434"
card = f"""NED university
student roll no:	{roll_no}
student name:		{name}
father's name:		{fname}
contact no:		{contact_no}"""
print(card)

NED university
student roll no:	2000
student name:		feroz gul
father's name:		khameeso khan
contact no:		03053075434